* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --theme-primary-color: #2196F3; 
}
#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#app main {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
#app .nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: var(--theme-primary-color);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
}
#app .nav ul {
  width: 7rem;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  cursor: pointer;
}
#app main input {
  width: 100%;
  padding: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}
#app main:nth-child(1) input {
  margin: 2rem 0;
}
.addNinja input:nth-of-type(1) {
  margin: 1rem 0 0.5rem 0;
}
.addNinja input:nth-of-type(2) {
  margin: 0 0 0.5rem 0;
}
#app .ninjas h3 {
  margin: 1rem 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
button {
  padding: 1rem 3.5rem;
  background-color: var(--theme-primary-color);
  border: none;
  color: white;
  border-radius: 0.3rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transform-origin: top left;
  transform: scale(1.1);
  transition: 0.1s;
}
button:hover{
  background: #0079db;
}
a {
  text-decoration: none;
  color: white;
}
main.ng-enter {
  transition: 0.5s;
  opacity: 0;
  transform: translateY(1rem);
}
main.ng-enter.ng-enter-active{
  opacity: 1;
  transform: translateY(0);
}
.ninjas h3.ng-enter{
  transition: 1.5s;
  opacity: 0;
}
.ninjas h3.ng-enter.ng-enter-active{
  opacity: 1;
}